server/Node-RED-RPQ-flow.json
[{"id":"8f882a36.3426c8","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"35fcbc9f.e98294","type":"ibmiot","z":"8f882a36.3426c8","name":"yq8qg5","keepalive":"60","cleansession":true,"appId":"1234","shared":true},{"id":"c007a43b.ec9808","type":"debug","z":"8f882a36.3426c8","name":"","active":true,"console":"false","complete":"false","x":690,"y":80,"wires":[]},{"id":"36a24d8a.3d2212","type":"ibmiot out","z":"8f882a36.3426c8","authentication":"apiKey","apiKey":"35fcbc9f.e98294","outputType":"cmd","deviceId":"frompayload","deviceType":"0.14.6","eventCommandType":"frompayload","format":"json","data":"{}","qos":"2","name":"IBM IoT","service":"registered","x":730,"y":200,"wires":[]},{"id":"1450cde3.97bc02","type":"function","z":"8f882a36.3426c8","name":"handleMessage","func":"return msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["36a24d8a.3d2212","c007a43b.ec9808","aded4831.c9dad8"]]},{"id":"56344857.3120f8","type":"debug","z":"8f882a36.3426c8","name":"","active":true,"console":"false","complete":"false","x":270,"y":260,"wires":[]},{"id":"26d8bd48.09af92","type":"mqtt in","z":"8f882a36.3426c8","name":"","topic":"","qos":"2","datatype":"auto","x":150,"y":160,"wires":[["56344857.3120f8","5b95b3e6.2f4aac"]]},{"id":"5b95b3e6.2f4aac","type":"function","z":"8f882a36.3426c8","name":"analysisMsg","func":"var msgId = msg.payload.msgId;\nvar clntInfo = msg.payload.clntInfo;\n\nvar clntnum = clntInfo.split(':')[1];\nvar clntname = clntInfo.split(':')[2];\nvar rule = msg.payload;\n\nvar healthyMsg = {\n    payload: {\n       \"ECG\": rule.ECGInfo,\n       \"breathInfo\":rule.breathInfo,\n       \"temperature\":rule.temperature\n    },\n    \"clntnum\": clntnum,\n    \"clntname\": clntname\n};\nreturn healthyMsg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["1450cde3.97bc02","f2b6b801.e53c08","3f253534.6e485a"]]},{"id":"f2b6b801.e53c08","type":"function","z":"8f882a36.3426c8","name":"sendWarning","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[[]]},{"id":"3f253534.6e485a","type":"function","z":"8f882a36.3426c8","name":"emergencyContact","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[[]]},{"id":"aded4831.c9dad8","type":"mqtt out","z":"8f882a36.3426c8","name":"","topic":"","qos":"","retain":"","x":690,"y":140,"wires":[]}]